<table class="table">
    <thead>
        <tr>
            <th>Done?</th>
            <th>Task</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="todo in $ctrl.todos">
            <td>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1"  ng-model="todo.isDone">
                </label>
            </td>
            <td>{{todo.task}}</td>
        </tr>
    </tbody>
    <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2">Enter Taks</label>
            <input type="text" ng-model="$ctrl.newTask" class="form-control" id="exampleInputName2" placeholder="Task Name">
        </div>
        <button class="btn btn-primary" ng-click="$ctrl.addNewTask()">Add Task</button>
    </form>


</table>